{#
/**
 * @file
 * Theme implementation for the My Story Offices block.
 */
#}
<section class="my-story-offices full-width">
  <div class="my-story-offices__content">
    <h2 class="my-story-offices__title h2">
      Come and visit one of <br/>
      <span class="my-story-offices-highlight">
        <span class="my-story-offices-text h2">our offices over the world</span>
        <span class="my-story-offices-bg"></span>
      </span>
    </h2>
    <div class="my-story-offices__image">
      <img src="{{ base_path ~ directory }}/images/my-story/map.png" alt="offices map" />
    </div>
    <div class="my-story-offices-grid">
      <div class="office-card">
        <img src="{{ base_path ~ directory }}/images/my-story/new-york.png" alt="New York Office" />
        <div class="office-info">
          <h4>New York, USA</h4>
          <p class="body-l">520 7th Avenue, Suite 202 New York, NY 10018</p>
        </div>
      </div>
      <div class="office-card">
        <img src="{{ base_path ~ directory }}/images/my-story/gent.png" alt="Ghent Office" />
        <div class="office-info">
          <h4>Ghent, Belgium</h4>
          <p class="body-l">Martelaarslaan 38, 9000 Ghent</p>
        </div>
      </div>
      <div class="office-card">
        <img src="{{ base_path ~ directory }}/images/my-story/hasselt.png" alt="Hasselt Office" />
        <div class="office-info">
          <h4>Hasselt, Belgium</h4>
          <p class="body-l">Kempische Steenweg 309 bus 303, 3500 Hasselt</p>
        </div>
      </div>
      <div class="office-card">
        <img src="{{ base_path ~ directory }}/images/my-story/antwerp.png" alt="Antwerp Office" />
        <div class="office-info">
          <h4>Antwerp, Belgium</h4>
          <p class="body-l">Bredabaan Fort, Weerstand 35, 2060 Edigem (Antwerpen)</p>
        </div>
      </div>
    </div>
  </div>
</section> 